 {% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Epidemic Intelligence</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link rel="stylesheet" type="text/css" href="{% static 'epiweb/bootstrap/css/bootstrap.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'epiweb/mapbox/css/mapbox.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'epiweb/d3/css/style.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'epiweb/d3/css/style2.css' %}" />

    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>
    <style>
    #map {
      width:600px;
      height:400px;
    }
  </style>

<style>

.node {
  stroke: #fff;
  stroke-width: 1.5px;
}

.link {
  stroke: #999;
  stroke-opacity: .6;
}

</style>

    <link href="{% static 'epiweb/bootstrap/css/bootstrap-responsive.css' %}" type="text/css"  rel="stylesheet">
    <link rel="shortcut icon" href="{% static 'epiweb/bootstrap/img/favicon.png' %}">
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="../assets/js/html5shiv.js"></script>
    <![endif]-->

  </head>


  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">EpiDetect</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#contact">Reports</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Data Sources <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Twitter</a></li>
                  <li><a href="#">Facebook</a></li>
                  <li><a href="#">Google</a></li>
                  <li class="divider"></li>
                  <li class="nav-header">Others</li>
                  <li><a href="#">Bing</a></li>
                  <li><a href="#">Wikipedia</a></li>
                </ul>
              </li>
            </ul>
            <form class="navbar-form pull-right">
              <input class="span2" type="text" placeholder="Email">
              <input class="span2" type="password" placeholder="Password">
              <button type="submit" class="btn">Sign in</button>
            </form>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <h1>Epidemic Intelligence</h1>
        <p>EpiDetect is a software tool that supports early detection of infectious disease outbreak. Outbreak knowledge is discovered by mining texts from the Social Media, with Twitter, Facebook (non-profile pages), and Google Search Engine as the primary data sources.</p>
        <p><a href="#" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
      </div>

				<form  action="/epiweb/prototype" method="post">{% csrf_token %}
					<fieldset>
						<!-- Form Name -->
						<legend>Classify Sample Document</legend>
				        
				        <div class="control-group">
							    {% if form.text.errors %}
							        <ul>
							        {% for error in form.text.errors %}
							            <div class="alert alert-error">
							            	<strong>{{ error|escape }}</strong>
							            </div>
							        {% endfor %}
							        </ul>

							     {% endif %}	            
				            <label class="control-label" for="id_text">Document:</label>
				            
				            <div class="controls">
				            	{{ form.text }}
				            </div>
				        </div>
				        <div class="control-group">
				        	<label class="control-label" for="submit"></label>
  						    <div class="controls">
  						    	    <button id="submit" name="submit" class="btn btn-large btn-primary">Classify</button>
							</div>
							
						</div>
					</fieldset>
				</form>

  <hr>

  <footer>
    <p>&copy; University of St Andrews 2013</p>
  </footer>

</div> <!-- /container -->


      </body>
</html>