{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Epidemic Intelligence</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link rel="stylesheet" type="text/css" href="{% static 'epiweb/bootstrap/css/bootstrap.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'epiweb/mapbox/css/mapbox.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'epiweb/d3/css/style.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'epiweb/d3/css/style2.css' %}" />

    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>
    <style>
    #map {
      width:600px;
      height:400px;
    }
  </style>

<style>

.node {
  stroke: #fff;
  stroke-width: 1.5px;
}

.link {
  stroke: #999;
  stroke-opacity: .6;
}

</style>

    <link href="{% static 'epiweb/bootstrap/css/bootstrap-responsive.css' %}" type="text/css"  rel="stylesheet">
    <link rel="shortcut icon" href="{% static 'epiweb/bootstrap/img/favicon.png' %}">
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="../assets/js/html5shiv.js"></script>
    <![endif]-->

  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">EpiDetect</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#contact">Reports</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Data Sources <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Twitter</a></li>
                  <li><a href="#">Facebook</a></li>
                  <li><a href="#">Google</a></li>
                  <li class="divider"></li>
                  <li class="nav-header">Others</li>
                  <li><a href="#">Bing</a></li>
                  <li><a href="#">Wikipedia</a></li>
                </ul>
              </li>
            </ul>
            <form class="navbar-form pull-right">
              <input class="span2" type="text" placeholder="Email">
              <input class="span2" type="password" placeholder="Password">
              <button type="submit" class="btn">Sign in</button>
            </form>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <h1>Epidemic Intelligence</h1>
        <p>EpiDetect is a software tool that supports early detection of infectious disease outbreak. Outbreak knowledge is discovered by mining texts from the Social Media, with Twitter, Facebook (non-profile pages), and Google Search Engine as the primary data sources.</p>
        <p><a href="#" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
      </div>

      <!-- Example row of columns -->
      <div class="row">
        
        <div class="alert alert-error">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <strong>Warning!</strong> Breakout Recorded in Pakistan.
        </div>

        <div class="span6">
          <h2>Charts & Trends</h2>
          <p>Charts and Trends of an highlighted disease over time and across locations. Trend analysis are carried out and plotted on these charts using Highcharts APIs.</p>
          <div id="container2" style="min-width: 400px; height: 400px; margin: 0 auto"></div>
          <p>Charts can be exported to PDFs, LaTeX or Movie files. Two trends and charts types are possible. 1. Positive Cases - Charts displaying actual outbreak trends, and 2. Negative Cases - Charts displaying rumors or disease mentions as a result of activities such as research, teaching or conferences. The current research or conferences are displayed as tool tip on the trends.</p>
          <p><a class="btn" href="#">View details &raquo;</a></p>
        </div>

        <div class="span6">
          <h2>Map (Disease Locations)</h2>
          <p>A display of a map showing the locations of outbreak of selected or highlighted disease. These locations are marked yellow, green, or red depending on the severity of the diseases. The severith levels are displayed in the <b>Alerts</b> section of this dashboard. There are three severith levels defined depending upon the frequecy of mention of the diseases and the coverage obtained by the social media counts. May is drawn using Mapbox.com APIs.</p>
          
          <a href="/epiweb/{{ tweet.id }}/"> <div id='map'></div> </a>

          <p><a class="btn" href="#">View details &raquo;</a></p>
       </div>

     </div>
        <div class="row">
          <div class="span6">
            <h2>Alerts & Warnings</h2>
            <p>A bar chart of alerts on disease outbreak is presented along with the severity levels. Thumbnails for the alerts are displayed here and links to the main chart upon a mouse click. Charts are defined for the six continents. Three severity levels are defined for the alerts, namely; Low - for low risk diseases; Medium - for medium impact; and High - for diseases with high impact and spread. Corresponding alerts bars showing the outbreak with highest severity levels, are displayed along with the bar charts. A scrolling warning bars (red, green, yellow) are also displayed here.</p>
            <div id="container" style="width:100%; height:400px;"></div>
            <p><a class="btn" href="#">View details &raquo;</a></p>
          </div>

        <div class="span6">
          <h2>Visualizations</h2>
          <p>Streams of tweets reporting outbreaks are displayed here. These tweets are being mined by the system in order to detect an outbreak in the locations. Tweets are marked as blue or red, indicating negative or positive tweets report respectively</p>
          
          <iframe src="http://bl.ocks.org/mbostock/raw/4062045/d89ba00bbdcc7695b63696902f0f7e95cbe3a679/" marginwidth="0" marginheight="0" scrolling="no" style="width:600px; height:400px;"></iframe>
          <p><a class="btn" href="#">View details &raquo;</a></p>
        </div>

      </div>
      <p id="chart" style="width:600px; height:400px;"></p>
      
      <p> {{tweet.owner}}</p>
      <hr>

      <footer>
        <p>&copy; University of St Andrews 2013</p>
      </footer>

    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static 'epiweb/bootstrap_ext/js/jquery.js' %}"></script>
    <script src="{% static 'epiweb/bootstrap_ext/js/bootstrap-transition.js' %}"></script>
    <script src"{% static 'epiweb/bootstrap_ext/js/bootstrap-alert.js' %}"></script>
    <script src="{% static 'epiweb/bootstrap_ext/js/bootstrap-modal.js' %}"></script>
    <script src="{% static 'epiweb/bootstrap_ext/js/bootstrap-dropdown.js' %}"></script>
    <script src="{% static 'epiweb/bootstrap_ext/js/bootstrap-scrollspy.js' %}"></script>
    <script src="{% static 'epiweb/bootstrap_ext/js/bootstrap-tab.js' %}"></script>
    <script src="{% static 'epiweb/bootstrap_ext/js/bootstrap-tooltip.js' %}"></script>
    <script src="{% static 'epiweb/bootstrap_ext/js/bootstrap-popover.js' %}"></script>
    <script src="{% static 'epiweb/bootstrap_ext/js/bootstrap-button.js' %}"></script>
    <script src="{% static 'epiweb/bootstrap_ext/js/bootstrap-collapse.js' %}"></script>
    <script src="{% static 'epiweb/bootstrap_ext/js/bootstrap-carousel.js' %}"></script>
    <script src="{% static 'epiweb/bootstrap_ext/js/bootstrap-typeahead.js' %}"></script>
    <script src="{% static 'epiweb/highcharts/js/jquery.min.js' %}"></script>
    <script src="{% static 'epiweb/highcharts/js/highcharts.js' %}"></script>
    <script src="{% static 'epiweb/mapbox/js/mapbox.js' %}"></script>
    <script src="{% static 'epiweb/mapbox/js/leaflet-knn.min.js' %}"></script>
    <script src="{% static 'epiweb/mapbox/js/samplemap2.js' %}"></script>
    <script src="{% static 'epiweb/highcharts/js/exporting.js' %}"></script>
    <script src="{% static 'epiweb/highcharts/js/trend.js' %}"></script>
    <script src="{% static 'epiweb/highcharts/js/trend2.js' %}"></script>
    <script src="{% static 'epiweb/d3/js/d3.v3.min.js' %}"></script>
    <script src="{% static 'epiweb/d3/js/d3.v2.min.js' %}"></script>
    <script src="{% static 'epiweb/d3/js/highlight.min.js' %}"></script>
    <script src="{% static 'epiweb/d3/js/visualizer2.js' %}"></script>
    
   
  </body>
</html>
