{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Epidect Frontend: Epidemic Intelligence</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Loading Bootstrap -->
    <link rel="stylesheet" type="text/css" href="{% static 'epiweb/flatui/bootstrap/css/bootstrap.css' %}" />

    <!-- Loading Flat UI -->
    <link rel="stylesheet" type="text/css" href="{% static 'epiweb/flatui/css/flat-ui.css' %}" />
    
    <!-- Loading Logo -->
    <link rel="shortcut icon" href="{% static 'epiweb/flatui/images/favicon.ico' %}" />    

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
    <![endif]-->
    
    <!-- Loading Other styles for Maps, Tweetclouds, and charts -->
    <link rel="stylesheet" type="text/css" href="{% static 'epiweb/mapbox/css/mapbox.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'epiweb/d3/css/style.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'epiweb/d3/css/style2.css' %}" />
    
    
<style type="text/css"> <!-- Extra styles to make our map look good -->
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>
    <style>
    #map {
      width:750px;
      height:400px;
    }
  </style>

<style>

.node {
  stroke: #fff;
  stroke-width: 1.5px;
}

.link {
  stroke: #999;
  stroke-opacity: .6;
}

</style>

  </head>
  
  {% block content %}
  
  <body>

      <div class="row demo-row">
          <div class="navbar navbar-inverse">
            <div class="navbar-inner">
              <div class="container">
                <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target="#nav-collapse-01"></button>
                <div class="nav-collapse collapse" id="nav-collapse-01">
                  <ul class="nav">
                    <li>
                      <a href="#fakelink">
                        Epidetect
                        <span class="navbar-unread">1</span>
                      </a>
                    </li>
                    <li>
                      <a href="#fakelink">
                        Home
                       
                      </a>
                    </li>

                    <li>
                      <a href="#fakelink">
                        Data Sources
                      </a>
                      <ul>
                        <li><a href="#fakelink">Facebook</a></li>
                        <li>
                          <a href="#fakelink">Twitter</a>
                          <ul>
                            <li><a href="#fakelink">Streaming</a></li>
                            <li><a href="#fakelink">Search</a></li>
                          </ul> <!-- /Sub menu -->
                        </li>
                        <li><a href="#fakelink">Bing</a></li>
                      </ul> <!-- /Sub menu -->
                    </li>
                    <li>
                    <li>
                      <a href="#fakelink">
                        Diseases
                      </a>
                      <ul>
                        <li><a href="#fakelink">H1N1</a></li>
                        <li>
                          <a href="#fakelink">Coronavirus</a>
                          <ul>
                            <li><a href="#fakelink">SAR-like</a></li>
                            <li><a href="#fakelink">non SARS</a></li>
                          </ul> <!-- /Sub menu -->
                        </li>
                        <li><a href="#fakelink">Tuberculosis</a></li>
                      </ul> <!-- /Sub menu -->
                    </li>
                    <li>
                      <a href="#fakelink">
                        About
                      </a>
                    </li>
                    <li class="active">
                      <a href="#fakelink">
                        Model Performance
                        <span class="navbar-unread">1</span>
                      </a>
                    </li>

                  </ul>
                </div><!--/.nav -->
              </div>
            </div>
          </div>
          
    <div class="row demo-row"> <!-- / first (banner) row -->
            <div class="span1">
            </div>
             
            <div class="span12">
                <h4 class="demo-logo">
                  Epidetect
                  <small>An Epidemic Intelligence Framework</small>
                </h4>
            </div>
        
        <div class="span3">
        </div>
        
        <div class="span3">

        </div>

     </div> <!-- / first (banner) row -->


   <div class="row"> <!-- / second row -->
            
        <div class="span1"> <!-- / Dummy (Zeroth) Column -->
        </div> <!-- / Dummy (Zeroth) Column -->
            
        <div class="span10">        
        <h2>Naive Bayes Confusion Matrix</h2>
          <p>The Table below shows the performance of the Naive Bayes Model.</p>
          <table class="table table-bordered table-striped">
              <thead>
              <tr>
                <th>Actual Class</th>
                <th>Predicted Class</th>
              </tr>
            </thead>

            <thead>
              <tr>
                <th></th>
                <th>Positive</th>
                <th>Negative</th>
                <th>Total (Real)</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th>Positive</th>
                <td>206</td>
                <td>128</td>
                <td>334</td>
              </tr>
              <tr>
                <th>Negative</th>
                <td>137</td>
                <td>2248</td>
                <td>2385</td>
              </tr>
              <tr>
                <th>Total (Predicted)</th>
                <td>343</td>
                <td>2376</td>
                <td></td>
              </tr>
              <tr>
                <th>Precision</th>
                <th colspan="3">0.779662</th>
              </tr>
              <tr>
                <th>Recall</th>
                <th colspan="3">0.773356</th>
              </tr>
              <tr>
                <th>Accuracy</th>
                <th colspan="3">0.902538</th>
              </tr>
              <tr>
                <th>F-Score</th>
                <th colspan="3">0.776496</th>
                </tr>

            </tbody>
          </table>
        </div> <!-- /Charts and Trends box (First Column) -->

    <div class="span10">
          <h2>SVM Confusion Matrix</h2>
       <p>The Table below shows the performance of the Naive Bayes Model.</p>
          <table class="table table-bordered table-striped">
              <thead>
              <tr>
                <th>Actual Class</th>
                <th>Predicted Class</th>
              </tr>
            </thead>

            <thead>
              <tr>
                <th></th>
                <th>Positive</th>
                <th>Negative</th>
                <th>Total (Real)</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th>Positive</th>
                <td>220</td>
                <td>123</td>
                <td></td>
              </tr>
              <tr>
                <th>Negative</th>
                <td>141</td>
                <td>2235</td>
                <td></td>
              </tr>
              <tr>
                <th>Total (Predicted)</th>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <th>Precision</th>
                <th colspan="3">0.778628</th>
              </tr>
              <tr>
                <th>Recall</th>
                <th colspan="3">0.791028</th>
              </tr>
              <tr>
                <th>Accuracy</th>
                <th colspan="3">0.902905</th>
              </tr>
              <tr>
                <th>F-Score</th>
                <th colspan="3">0.784779</th>
                </tr>

            </tbody>
          </table>
 </div>
    
    </div> <!-- / second row -->

    <div class="row">
        <div class="span1"> <!-- / Dummy (Zeroth) Column -->
        </div> <!-- / Dummy (Zeroth) Column -->
      
      <div class="span10"> 
          
        </div>

    </div>


     <div class="row"> <!-- / Third row -->
            
        <div class="span1"> <!-- / Dummy (Zeroth) Column -->
        </div> <!-- / Dummy (Zeroth) Column -->
        
        <div class="span10"> <!-- /Alerts (First Column) -->
          <h2>NB/SVM Ensemble Matrix</h2>
          <p>The Table below shows the performance of the Naive Bayes Model.</p>
          <table class="table table-bordered table-striped">
              <thead>
              <tr>
                <th>Actual Class</th>
                <th>Predicted Class</th>
              </tr>
            </thead>

            <thead>
              <tr>
                <th></th>
                <th>Positive</th>
                <th>Negative</th>
                <th>Total (Real)</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th>Positive</th>
                <td>305</td>
                <td>80</td>
                <td>385</td>
              </tr>
              <tr>
                <th>Negative</th>
                <td>63</td>
                <td>711</td>
                <td>774</td>
              </tr>
              <tr>
                <th>Total (Predicted)</th>
                <td>368</td>
                <td>791</td>
                <td>1159</td>
              </tr>
              <tr>
                <th>Precision</th>
                <th colspan="3">0.855406</th>
              </tr>
              <tr>
                <th>Recall</th>
                <th colspan="3">0.863833</th>
              </tr>
              <tr>
                <th>Accuracy</th>
                <th colspan="3">0.876618</th>
              </tr>
              <tr>
                <th>F-Score</th>
                <th colspan="3">0.859599</th>
                </tr>

            </tbody>
          </table>
        </div> <!-- /Alerts (First Column) -->


    </div> <!-- / Third row -->

     <div class="row"> <!-- / Forth (Dummy) row -->
      
         <div class="span1"> <!-- / Dummy (Zeroth) Column -->

        </div> <!-- / Dummy (Zeroth) Column -->

                <div class="span10"> <!-- /Alerts (First Column) -->
          <h2>Performance Comparison</h2>
                    <p>The Table below shows the performance of the Naive Bayes Model.</p>
                   <div id="models" style="width:100%; height:400px;"></div>
        </div> <!-- /Alerts (First Column) -->

    </div>
    
   <div class="row"> <!-- / Fifth (Dummy) row -->
    
         <div class="span1"> <!-- / Dummy (Zeroth) Column -->
        </div> <!-- / Dummy (Zeroth) Column -->
        
         <div class="span10 demo-text-box "> <!-- /Alerts (First Column) -->
           <h1>
           Language Support Performance
          </h1>
        </div> 

    </div>

   <div class="row"> <!-- / Fifth (Dummy) row -->
    
         <div class="span1"> <!-- / Dummy (Zeroth) Column -->
        </div> <!-- / Dummy (Zeroth) Column -->
        
         <div class="span10 demo-text-box "> <!-- /Alerts (First Column) -->
           <h1>
           Objectives Matrix
          </h1>
        </div> 

    </div>

   <div class="row"> <!-- / Fifth (Dummy) row -->
    
         <div class="span1"> <!-- / Dummy (Zeroth) Column -->
        </div> <!-- / Dummy (Zeroth) Column -->
        
         <div class="span10 demo-text-box "> <!-- /Alerts (First Column) -->
           <h1>
           Captured Outbreaks
          </h1>
        </div> 

    </div>



    <footer>
        <div class="row">
            <div class="span1">
            </div>
        
          <div class="span7">
            <h3 class="footer-title">Project Description</h3>
            <p>EpiDetect is a software tool that supports early detection of infectious
              disease outbreak. Outbreak knowledge discovered by mining texts from
              the Social Media, with Twitter, Facebook (non-profile pages), and 
              Google Search Engine being the primary data sources.</br></br>
              Available at: <a href="http://www.epidetect.com" target="">epidetect.com/outbreaks</a>
            </p>

            <p class="pvl">
              <a href="https://twitter.com/epidetect" class="twitter-share-button" data-url="http://designmodo.com/flat-free/" data-text="Flat UI Free - PSD&amp;HTML User Interface Kit" data-via="designmodo" data-size="large">Tweet</a>
              <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
            </p>

            <a class="footer-brand" href="http://designmodo.com" target="_blank">
              <img src="{% static 'epiweb/flatui/images/footer/logo.png' %}" alt="Designmodo.com" />
            </a>
          </div> <!-- /span8 -->
          
          <div class="span11">
          </div>
          
          <div class="span5">
            <div class="footer-banner">
              <h3 class="footer-title">Application Features</h3>
              <ul>
                <li>Automatic Detection of Disease Outbreak</li>
                <li>Location Detection of Disease Outbreak</li>
                <li>Language Detection of Disease Reports</li>
                <li>Geolocation and Geocoding of Locations</li>
                <li>Web Compatibility</li>
              </ul>
              Go to: <a href="http://epidetect.com/outbreaks" target="_blank">epidetect.com/outbreaks</a>
            </div>
          </div>
        </div>
    </footer>


    <!-- Load JS here for greater good =============================-->
    <script src="{% static 'epiweb/bootstrap_ext/js/jquery.js' %}"></script>
    <script src="{% static 'epiweb/bootstrap_ext/js/bootstrap-transition.js' %}"></script>
    <script src="{% static 'epiweb/bootstrap_ext/js/bootstrap-alert.js' %}"></script>
    <script src="{% static 'epiweb/bootstrap_ext/js/bootstrap-modal.js' %}"></script>
    <script src="{% static 'epiweb/bootstrap_ext/js/bootstrap-dropdown.js' %}"></script>
    <script src="{% static 'epiweb/bootstrap_ext/js/bootstrap-scrollspy.js' %}"></script>
    <script src="{% static 'epiweb/bootstrap_ext/js/bootstrap-tab.js' %}"></script>
    <script src="{% static 'epiweb/bootstrap_ext/js/bootstrap-tooltip.js' %}"></script>
    <script src="{% static 'epiweb/bootstrap_ext/js/bootstrap-popover.js' %}"></script>
    <script src="{% static 'epiweb/bootstrap_ext/js/bootstrap-button.js' %}"></script>
    <script src="{% static 'epiweb/bootstrap_ext/js/bootstrap-collapse.js' %}"></script>
    <script src="{% static 'epiweb/bootstrap_ext/js/bootstrap-carousel.js' %}"></script>
    <script src="{% static 'epiweb/bootstrap_ext/js/bootstrap-typeahead.js' %}"></script>
    <script src="{% static 'epiweb/highcharts/js/jquery.min.js' %}"></script>
    <script src="{% static 'epiweb/highcharts/js/highcharts.js' %}"></script>
    <script src="{% static 'epiweb/highcharts/js/exporting.js' %}"></script>
    <script src="{% static 'epiweb/highcharts/js/model_comparison.js' %}"></script>
        
    <!--script src="{% static 'epiweb/flatui/js/jquery-1.8.3.min.js' %}"></script>
    <script src="{% static 'epiweb/flatui/js/jquery-ui-1.10.3.custom.min.js' %}"></script>
    <script src="{% static 'epiweb/flatui/js/jquery.ui.touch-punch.min.js' %}"></script>
    <script src="{% static 'epiweb/flatui/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'epiweb/flatui/js/bootstrap-select.js' %}"></script>
    <script src="{% static 'epiweb/flatui/js/bootstrap-switch.js' %}"></script>
    <script src="{% static 'epiweb/flatui/js/flatui-checkbox.js' %}"></script>
    <script src="{% static 'epiweb/flatui/js/flatui-radio.js' %}"></script>
    <script src="{% static 'epiweb/flatui/js/jquery.tagsinput.js' %}"></script>
    <script src="{% static 'epiweb/flatui/js/jquery.placeholder.js' %}"></script>
    <script src="{% static 'epiweb/flatui/js/query.stacktable.js' %}"></script>
    <script src="{% static 'http://vjs.zencdn.net/c/video.js' %}"></script>
    <script src="{% static 'epiweb/flatui/js/application.js' %}"></script-->


  </body>
  {% endblock %}
  
</html>
